.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100%);
}

.center-title {
  font-size: xx-large;
  flex-shrink: 0;
  margin-bottom: 1%;
}

.mat-form-field {
  width: 500px !important;
}

@media (max-width: 600px) {
  .input {
    width: 350px;
  }
  .mat-form-field {
    width: 350px !important;
  }
}

.buttons {
  flex-shrink: 0;
}

/*.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100%-400px);
}*/
