<body>
  <div class="main">

    <div class="title-container">Youtube-dl GUI</div>

    <div class="form-container">
      <form name="urlForm">
        <div class="scroll">
          <mat-form-field class="url-form-field" [style.width.px]=500>
            <mat-label>Link</mat-label>
            <input matInput type="text" name="url" [(ngModel)]="urls[0]">
            <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="openMultipleDownloadDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="button-container">

          <div class="configuration-group">
            <button class="configuration" mat-raised-button (click)=options()>Options</button>

            <mat-form-field class="configuration" appearance="fill">
              <mat-label>Format</mat-label>
              <mat-select (selectionChange)="setSelectedFormat($event)">
                <mat-option>Auto</mat-option>
                <mat-option *ngFor="let format of availableFormats" [value]="format">
                  {{format}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="configuration-group">
            <button id="downloadButton" mat-raised-button color="primary" [disabled]="isDownloadDisabled()"
              (click)=download()>Download</button>
          </div>

        </div>
      </form>
    </div>

    <mat-spinner *ngIf="downloadInProgress"></mat-spinner>

  </div>

</body>

<footer>
  <div class="configuration-group">
    <button class="configuration" mat-raised-button (click)=showYoutubeDlDocs()>Docs</button>
  </div>
</footer>
